<%= form_with(model: @dish, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :venue_id %>

    <%= f.text_field :venue_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :item %>

    <%= f.text_field :item, class: "form-control" %>
  </div>

  <%= f.hidden_field :cuisine_id, value: @cuisine.id %>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :user_id %>

    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create dish", class: "btn btn-block btn-outline-secondary" %>
<% end %>
