<!-- Form dish start -->
<%= form_with(model: @dish, local: true) do |f| %>
<!-- Form dish end -->

  <!-- Label and input for venue_id start -->
  <div class="form-group">
    <%= f.label :venue_id %>

    <!-- Input for venue_id start -->
    <%= f.text_field :venue_id, class: "form-control" %>
    <!-- Input for venue_id end -->
  </div>
  <!-- Label and input for venue_id end -->

  <!-- Label and input for item start -->
  <div class="form-group">
    <%= f.label :item %>

    <!-- Input for item start -->
    <%= f.text_field :item, class: "form-control" %>
    <!-- Input for item end -->
  </div>
  <!-- Label and input for item end -->

  <!-- Label and input for cuisine_id start -->
  <!-- Input for cuisine_id start -->
  <%= f.hidden_field :cuisine_id, value: @cuisine.id %>
  <!-- Input for cuisine_id end -->
  <!-- Label and input for cuisine_id end -->

  <!-- Label and input for description start -->
  <div class="form-group">
    <%= f.label :description %>
    <!-- Input for description start -->
    <%= f.text_area :description, rows: "3", class: "form-control" %>
    <!-- Input for description end -->
  </div>
  <!-- Label and input for description end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <%= f.label :user_id %>

    <!-- Input for user_id start -->
    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <%= f.submit "Create dish", class: "btn btn-block btn-outline-secondary" %>
<% end %>
